* {
  margin: 0;
}

.container {
  display: grid;
  place-items: center;
}

.container__span {
  grid-column-start: span 2;
}

canvas {
  border: 1px solid rgba(255, 0, 0, 0.2);
  margin-bottom: 48px;
}

h1 {
  margin-bottom: 16px;
}
