.game {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.controls {
}

.input {
  width: 4em;
}

.label {
  display: block;
  margin: 16px 0;
}

.canvasContainer {
  position: relative;
  flex-grow: 1;
}

.canvas {
  background-color: black;
  border: 3px solid rgba(255, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
}
